@model BMW.Web.Models.EmailModel
@{
    var lang = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLower();
    var siteUrl = System.Configuration.ConfigurationManager.AppSettings["SiteUrl"];
}

<table width="100%" height="100%" style="min-width:348px" border="0" cellspacing="0" cellpadding="0">
    <tbody>
        <tr height="32px"></tr>
        <tr align="center">
            <td width="32px"></td>
            <td>
                <table border="0" cellspacing="0" cellpadding="0" style="max-width:600px">
                    <tbody>
                        <tr>
                            <td>
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr>
                                            <td align="left">
                                                <img width="128" height="20" src="http://repxivmobileapp.masterusedcar.com/img/logo-main.png" style="display:block;width:128px;min-height:20px" class="CToWUd">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr height="16"></tr>
                        <tr>
                            <td>
                                <table bgcolor="#033e5e" width="100%" border="0" cellspacing="0" cellpadding="0" style="min-width:332px;max-width:600px;border:1px solid #e0e0e0;border-bottom:0;border-top-left-radius:3px;border-top-right-radius:3px">
                                    <tbody>
                                        <tr><td height="72px" colspan="3"></td></tr>
                                        <tr>
                                            <td width="32px"></td>
                                            <td style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:24px;color:#ffffff;line-height:1.25">@Model.subject</td>
                                            <td width="32px"></td>
                                        </tr>
                                        <tr><td height="18px" colspan="3"></td></tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table bgcolor="#FAFAFA" width="100%" border="0" cellspacing="0" cellpadding="0" style="min-width:332px;max-width:600px;border:1px solid #f0f0f0;border-bottom:1px solid #c0c0c0;border-top:0;border-bottom-left-radius:3px;border-bottom-right-radius:3px">
                                    <tbody>
                                        <tr height="16px"><td width="32px" rowspan="3"></td><td></td><td width="32px" rowspan="3"></td></tr>
                                        <tr>
                                            <td>
                                                <table style="min-width:300px" border="0" cellspacing="0" cellpadding="0">
                                                    <tbody>
                                                        <tr>
                                                            <td style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:13px;color:#202020;line-height:1.5">Hi @Model.fullName,</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:13px;color:#202020;line-height:1.5">
                                                                You have been registered for Masterusedcar account.<br><br>
                                                                <b>Username:</b> @Model.userName<br>
                                                                <b>Password:</b> @Model.newPassword<br>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:13px;color:red;line-height:1.5">
                                                                <br>Please login <a href="http://dev.bmw.excelbkk.com/home/index">http://dev.bmw.excelbkk.com/home/index</a> to change your password to ensure your account's security.
                                                            </td>
                                                        </tr>
                                                        <tr height="32px"></tr>
                                                        <tr>
                                                            <td style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:13px;color:#202020;line-height:1.5">Best regards,<br>Masterusedcar team</td>
                                                        </tr>
                                                        <tr height="16px"></tr>
                                                        <tr>
                                                            <td>
                                                                <table style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:12px;color:#b9b9b9;line-height:1.5">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>Please do not reply to this message. This email was sent from a notification-only email address that cannot accept incoming email.</td>
                                                                        </tr>
                                                                        <tr></tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr height="32px"></tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr height="16"></tr>
                        <tr>
                            <td style="max-width:600px;font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:10px;color:#bcbcbc;line-height:1.5"></td>
                        </tr>
                        <tr>
                            <td>
                                <table style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:10px;color:#666666;line-height:18px;padding-bottom:10px">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div style="direction:ltr;text-align:left">© 2015 Masterusedcar. All Rights Reserved.</div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td width="32px"></td>
        </tr>
        <tr height="32px"></tr>
</table>