<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>FirstName</th>
            <th>LastName </th>
            <th>EnrollmentDate</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{ user.ID }}</td>
            <td>{{ user.FirstMidName }}</td>
            <td><a>{{ user.LastName }}</a></td>
            <td></td>
            <td>
                <button >
                    
                </button>
            </td>
        </tr>
    </tbody>
</table>